<section id="region-main" class="span8 pull-right">

    <div class="box generalbox mdl-align">
      <div class="search-label">Search courses: </div>
      <input class="search-bar" type="text" ng-model="searchText" size="30" name="search"/>
    </div>
    <div role="main"><span id="maincontent"></span><h2>{{filtered.length}} results for search "{{searchText}}"</h2>




      <div class="coursesss">

        <div class="one-course course-header">
            <div class="name hovering" ng-click="predicate = 'name'; reverse=!reverse">
              Name
              <span ng-show="predicate=='name' && reverse">▲</span>
              <span ng-show="predicate=='name' && !reverse">▼</span>
            </div>
          <div class="code hovering" ng-click="predicate = 'code'; reverse=!reverse">
            Course code
            <span ng-show="predicate=='code' && reverse">▲</span>
            <span ng-show="predicate=='code' && !reverse">▼</span>
          </div>
          <div class="info">Info</div>
          <div class="period hovering" ng-click="predicate = 'period'; reverse=!reverse">
            Period
            <span ng-show="predicate=='period' && reverse">▲</span>
            <span ng-show="predicate=='period' && !reverse">▼</span>
          </div>
          <div class="credits hovering" ng-click="predicate = 'credits'; reverse=!reverse">
            Credits
            <span ng-show="predicate=='credits' && reverse">▲</span>
            <span ng-show="predicate=='credits' && !reverse">▼</span>
          </div>
        </div>
        <div class="one-course-margin"></div>
        <div class="" ng-repeat="course in filtered = (courses | orderBy:predicate:reverse | periodsfilter:periods | creditsfilter:credits | languagesfilter:languages | schoolsfilter:schools | filter:searchText)">
          <div class="one-course">
            <div class="name">{{course.name}}</div>
            <div class="code">{{course.code}}</div>
            <div class="info info-circle" ng-click="toggle = !toggle" ng-class="{infocircleselected: toggle}">i</div>
            <div class="period">{{getPeriods(course.period)}}</div>
            <div class="credits">{{course.credits}}</div>
          </div>
          <div class="one-course-info" ng-show="toggle">
            <div class="one-info">Schedule: 28.02.2014 - 31.05.2014</div>
            <div class="one-info">Teacher: Carl Teacher</div>
            <div class="one-info">Registration for Courses and Further Information:
              <a href="https://oodi.aalto.fi/a/opintjakstied.jsp?Kieli=6&amp;Tunniste=MUO-E5012&amp;html=1" target="_blank">This course in Oodi</a>
            </div>
            <div class="one-info">Language: {{course.language}}</div>
            <div class="one-info">School: {{course.school}}</div>
          </div>
          <div class="one-course-margin"></div>
        </div>
      </div>

</section>

    <aside id="block-region-side-pre" class="span4 desktop-first-column block-region" data-blockregion="side-pre">
      <div class="search-side-panel">
        <div class="filter-header">Filter results</div>
        <div class="filtering">
          <div class="filter-block">
            <span class="filtering-names">Periods:</span>
            <input id="check-period1" type="checkbox" ng-model="periods.period1">
            <label for="check-period1">I</label>
            <input id="check-period2" type="checkbox" ng-model="periods.period2">
            <label for="check-period2">II</label>
            <input id="check-period3" type="checkbox" ng-model="periods.period3">
            <label for="check-period3">III</label>
            <input id="check-period4" type="checkbox" ng-model="periods.period4">
            <label for="check-period4">IV</label>
            <input id="check-period5" type="checkbox" ng-model="periods.period5">
            <label for="check-period5">V</label>
          </div>
          <div class="filter-block">
            <span class="filtering-names">Credits:</span>
            <input id="check-credit1" type="checkbox" ng-model="credits.credit1">
            <label for="check-credit1">1</label>
            <input id="check-credit2" type="checkbox" ng-model="credits.credit2">
            <label for="check-credit2">2</label>
            <input id="check-credit3" type="checkbox" ng-model="credits.credit3">
            <label for="check-credit3">3</label>
            <input id="check-credit4" type="checkbox" ng-model="credits.credit4">
            <label for="check-credit4">4</label>
            <input id="check-credit5" type="checkbox" ng-model="credits.credit5">
            <label for="check-credit5">5</label>
            <input id="check-credit6" type="checkbox" ng-model="credits.credit6">
            <label for="check-credit6">6+</label>
          </div>
          <div class="filter-block">
            <span class="filtering-names">Language:</span>
            <input id="check-finnish" type="checkbox" ng-model="languages.finnish">
            <label for="check-finnish">FI</label>
            <input id="check-english" type="checkbox" ng-model="languages.english">
            <label for="check-english">EN</label>
            <input id="check-swedish" type="checkbox" ng-model="languages.swedish">
            <label for="check-swedish">SV</label>
          </div>
          <div class="filter-block">
            <span class="filtering-names">School:</span>
            <span >
              <select class="filter-dropdown" ng-model="schools">
                <option value="all">All</option>
                <option value="eng">ENG School of Engineering</option>
                <option value="arts">ARTS School of Arts, Design, and Architecture</option>
                <option value="biz">BIZ School of Business</option>
                <option value="chem">CHEM School of Chemical Technology</option>
                <option value="elec">ELEC School of Electrical Engineering</option>
                <option value="sci">SCI School of Science</option>
                <option value="lang">Language Centre</option>
                <option value="open">Open University</option>
                <option value="lib">Library</option>
              </select>
            </span>
          </div>
          <div class="reset-filters hovering" ng-click="resetFilters()">Reset filters</div>
        </div>
      </div>


    </aside>



